<h1>Editing collection log item</h1>

<%= render "form", collection_log_item: @collection_log_item %>

<br>

<div>
  <%= link_to "Show this collection log item", @collection_log_item %> |
  <%= link_to "Back to collection log items", collection_log_items_path %>
</div>
