<%= form_with(model: collection_log_entry) do |form| %>
  <% if collection_log_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collection_log_entry.errors.count, "error") %> prohibited this collection_log_entry from being saved:</h2>

      <ul>
        <% collection_log_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
