<h1>New collection log entry</h1>

<%= render "form", collection_log_entry: @collection_log_entry %>

<br>

<div>
  <%= link_to "Back to collection log entries", collection_log_entries_path %>
</div>
